* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Satisfy';
}

div {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.header {
    background-color: rgb(255, 94, 0);
    margin-bottom: 20px;
    text-align: center;
}

.header img {
    width: 50%;
}

.container {
    display: flex;
}

.navbar {
    padding: 5px;
    width: 20%;
    background-color: rgb(255, 94, 0);
    box-shadow: 0 0 20px black;
}

.navbar ul li {
    background-color: rgb(255, 255, 255);
    list-style: none;
    text-align: center;
    margin: 30px auto;
    border-radius: 20px 10px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

a {
    color: rgb(0, 0, 0);
}

.content {
    padding: 10px;
    margin: 0 auto;
    width: 70%;
}

.content h1 {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.content img {
    width: 200px;
}

iframe {
   max-width: 100%;
}

p {
    font-size: 20px;
    margin: 20px;
}

p img {
    padding: 20px;
    margin-right: 50px;
}

.footer {
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}