* {
    padding: 0;
    margin: 0;
}

html, css {
    height: 100%;
}

body {
    background: rgb(65,1,1);
    background: radial-gradient(circle, rgba(65,1,1,1) 0%, rgba(57,1,1,1) 84%, rgba(0,0,0,1) 100%);
}

.avatar {
    width: 100px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255); 
    box-shadow: 0px 0px 20px white;
}
h1 {
    font-size: 24px;
    color: white;
    font-family: 'Andada Pro', serif;
    font-weight: 100;
    margin-top: 10px;
}

h2 {
    font-size: 18px;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: italic;
    text-decoration: underline;
    font-weight: 100;
}

.profile{
    margin-top: 30px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0;
}

.social img {
    width: 33px;
}

.links-list {
    list-style: none;
}

.links-list li{
    margin: 10px 20px;
}

.links-list li a {
    display: block;
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-weight: bolder;
}

.links-list li a span {
    display: block;
    color: rgb(107, 107, 107);
    padding: 3px;
    padding-left: 0;
}